<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httppPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform
            processPath="D:\Program Files\Java\jdk1.8.0_25\bin\java.exe"
            arguments="-Djava.net.preferIPv4Stack=true
                     -Dserver.port=%HTTP_PLATFORM_PORT%
                     -jar &quot;/webapps/springboot-azure-example-deploy.jar&quot;"
            startupTimeLimit="60">
        </httpPlatform>
    </system.webServer>
</configuration>