
#product-image {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    height: 100px;

}

.card {
    margin: 10px;
}


header {

    background-color: darkgreen;
}
nav a {
    font-weight: bold;
}



