<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/payment.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{../static/js/script.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/187b41207f.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <h1><i class="fa-solid fa-drumstick-bite"></i>'T Half Kieke</h1>
</header>
<main class="page payment-page">
    <section class="payment-form dark">
        <div class="container">
            <form>
                <div class="products">
                    <h3 class="title">Bestelling</h3>
                    <div class="item" >
                        <div class="row">
                            <span class="price"></span>
                            <p class="item-name" ></p>
                        </div>
                    </div>
                    <div class="total">Total<span class="price">$320</span></div>
                </div>
                <div class="row">
                    <input class="item-name">
                </div>
            </form>
        </div>
    </section>
</main>


</div>
</body>
</html>

