<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frituur 'T Half Kieke</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{../static/js/script.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/187b41207f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1><i class="fa-solid fa-drumstick-bite"></i>'T Half Kieke</h1>
</header>



<div class="container" id="container-admin">
    <div class="row">
        <div class="col-sm">
            <h5>Bestellingen</h5>
            <hr class="solid">

        </div>
        <div class="col-sm">
            <h5>Tijdslots</h5>
            <hr class="solid">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <h5>Productbeheer</h5>
            <hr class="solid">

            <ul class="list-group list-group-horizontal" id="ul-products-admin" th:each="products:${products}">
                <li class="list-group-item" th:text="${products.id}"></li>
                <li class="list-group-item" th:text="${products.name}"></li>
                <li class="list-group-item" th:text="${products.price}"></li>
            </ul>

        </div>
        <div class="col-sm">
            <h5>Categoriebeheer</h5>
            <hr class="solid">
            <br>
            <ul class="list-group list-group-horizontal" id="ul-categorie-admin">
                <li class="list-group-item" th:each="categories: ${categories}">
                    <h5><a class="nav-link" th:href="'#'+${categories.name}" th:text="${categories.name}"></a></h5>
                </li>
            </ul>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>


<!--<div class="Adminoverzicht" th:each="orders: ${orders}">
    <h2 th:each="Customer:${orders.Customer}" >Bestellingen</h2>
        <div class="Bestellingcard">
           <h3></h3>
            <i class="fa-solid fa-circle-x"></i>
            <h4  th:text="${Customer.firstname}+' '+${Customer.lastname}"></h4>
            <h4 th:text="${Customer.phone}"></h4>
            <ul th:each="products: ${orders.Product}">
                <li>2 Kleine friet</li>
            </ul>
        </div>
</div>-->

</html>


