<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frituur 'T Half Kieke</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{../static/js/script.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/187b41207f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1><i class="fa-solid fa-drumstick-bite"></i>'T Half Kieke</h1>
</header>
<div class="Adminoverzicht" th:each="orders: ${orders}">
    <h2 th:each="Customer:${orders.Customer}" >Bestellingen</h2>
        <div class="Bestellingcard">
           <h3></h3>
            <i class="fa-solid fa-circle-x"></i>
            <h4  th:text="${Customer.firstname}+' '+${Customer.lastname}"></h4>
            <h4 th:text="${Customer.phone}"></h4>
            <ul th:each="products: ${orders.Product}">
                <li>2 Kleine friet</li>
            </ul>
        </div>
</div>
</body>
</html>


