<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frituur 'T Half Kieke</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script src="https://kit.fontawesome.com/187b41207f.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <h1><i class="fa-solid fa-drumstick-bite fa-xl"></i>'T Half Kieke</h1>
</header>
<nav>
    <a href="#Frieten">Frieten</a>
    <a href="#Sauzen">Sauzen</a>
    <a href="#Snacks">Snacks</a>
    <a href="#Dranken">Dranken</a>
    <a href="#Desserts">Deserts</a>
</nav>
<div class="search">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
<div class="producten">
    <h2 id="Frieten">Frieten</h2>
    <div class="productgrid">
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
    </div>
    <h2 id="Sauzen">Sauzen</h2>
    <div class="productgrid">
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
    </div>
    <h2 id="Snacks">Snacks</h2>
    <div class="productgrid">
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
    </div>
    <h2 id="Dranken">Dranken</h2>
    <div class="productgrid">
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
    </div>
    <h2 id="Desserts">Desserts</h2>
    <div class="productgrid">
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
        <div class="item">
            <image src="img_1.jpg" width="150" height="100" />
            <p>Naam Product <br> Prijs Product</p>
        </div>
    </div>

</div>
</body>
</html>