<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frituur 'T Half Kieke</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script src="https://kit.fontawesome.com/187b41207f.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <h1><i class="fa-solid fa-drumstick-bite fa-xl"></i>'T Half Kieke</h1>
</header>
<nav>
    <tr th:each="categories: ${categories}">

        <td><a th:href="'#'+${categories.name}" th:text="${categories.name}"></a> </td><br>
    </tr>
</nav>

<form  method='POST'  th:action="@{/makeorder}"  >


    <div class="container" th:each="categories: ${categories}">
        <div class="row" th:id="${categories.name}">
            <h2 th:text="${categories.name}"></h2>
        </div>
        <div class="row">
            <div  th:each="products:${categories.product}">
                <div class="card" style="width: 18rem;">
                    <img th:src="${products.image}" width="100" height="100"/>
                    <div class="card-body">
                        <p th:text="${products.name}"></p><br>
                            <input th:type="number" th:name="'r'+'quantity'+${products.id}" min="1" max="9" step="1" th:value="1">
                        <p th:text="'€'+${products.price}"></p>
                        <input type="checkbox" th:name="'boolean'+${products.id}" />

                    </div>
                </div>

            </div>
        </div>



    </div>

    <input type="text" name="CustomerNaam" placeholder="Naam"/>
    <input type="text" name="CustomerAdres" placeholder="Adres"/>
    <input type="submit"  name="submit" value="Bestel" >


</form>

</body>
</html>