<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{../static/js/script.js}"></script>
    <title>Thymeleaf tutorial</title>
</head>
<body>
<h1 align="center">Welcome to Thymeleaf</h1>
<p align="center">Learn How to add CSS/JS in thymeleaf</p>
<center><button type="button" onclick="myFunction()" >Click Here</button></center>
</body>
</html>